<div class="main" style="padding: 10px; width: 60%;">
  <h1> All the eateries</h1>

  <table>
  <% @eateries.each do |eatery| %>
  <tr >
    <td> <a href= "/eateries/<%= eatery.id %>"><%= eatery.name %> </a> </td>
    <td> <form action='/eateries/<%= eatery.id %>/delete' method="post" class="burger-delete ">
          <input type="submit" value="delete" /> </td>
  </form> </tr>
  <% end %>
</table>
</div>
<div class= "main">
<table>
  <tr>
<td> <a href='/eateries/new'> Add a new eatery </a> </td>
<td> <a href='/menu_item' class="burger-delete"> Add a burger to an eatery </a> </td>
<td> <a href='/menu_item/delete' class="burger-delete"> Remove a burger from an eatery </a> </td>

</tr>
</table>
</div>
