

<div class="main">

<h1 > Welcome to The Burger App!</h1>


<h3> We have a special deal for you today </h3>
<h3> Tell us your name to find out more! </h3>

<p style='font-size: 10px'> P.S. You are agreeing to your contact details being for sale </p>
</div>
