<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <title>Burger App</title>
  </head>
  <body>

    <nav>
      <p> <a href = "/burgers"> See all Burgers </a> </p>
      <p> <a href = "/eateries"> See all Eateries </a> </p>
      <p> <a href = "/deals"> See the Deals </a> </p>
      <p> <a href = "/"> Back to the Homepage!</a> </p>
    </nav>
<%= yield %>
  </body>
</html>
