<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Burger App</title>
  </head>
  <body>
    <nav>
      <p> <a href = "/burgers"> See all Burgers </a> </p>
      <p> <a href = "/eateries"> See all Eateries </a> </p>
    </nav>
    <%= yield %>
  </body>
</html>
