<div class="main">
  <form method = "post" action = "/eateries/new">
    <label for="name"> Name Your Eatery </label>
    <input id = "name" type = text name="name">
<input type="submit" value="Add eatery" />
</div>
