<form method="post" action="/deals">
  <label for="type_of_deal"> What type of deal would you like to add?</label>
  <select id="type_of_deal" name="deal_class">
    <option value = "regularp"> Percentage Deal </option>
    <option value = "regulars"> A specified amount Deal </option>
    <option value = "special"> XforY deal e.g. 2for1 </option>
  </select>
<!--
  <label for="menu_item_select"> Select a menu item </label>
  <select id = "menu_item_select" name= "menu_item_id">
  <% @menu_items.each do |menu_item| %>
      <option value= <%=menu_item.id  %>>
         <%=menu_item.burger.name %> at <%= menu_item.eatery.name %> </option>
      <% end  %>
    </select>-->

  <input type="submit" value="New deal" />

</form>
