<div class="main">
  <form method = "post" action = "/burgers/new">
    <label for="name"> Name Your Burger </label>
    <input id = "name" type = text name="name">
<input type="submit" value="Add burger" />
</div>
