

h1 {
  font-size: 50px;
}

body {
  background-color: grey;
  color: #DDD;
  text-align: left;
  align-self: center;
  font-size: 30px;
  background-image: url("/images/3.jpeg");
  font-family: sans-serif;
}

nav p {
  display: inline-block;
  /*border: black;*/
  padding: 5px;
  /*color: navy;*/
}

nav p a {
  font-size: 30px;
}

nav {
  /*background-color: green;*/
  background-color:rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 20px
  border: 5px solid black;
}

h5 {
  /*color: navy;*/
  font-size: 30px;
}

a {
  color: #9F6;
  font-size: 30px;
}

h3 {
  color: #DDD;
  font-size: 30px;
}

.main {
  display: inline-block;
  width: 60%;
  margin: 20px;
  padding: 10px;
  background-color:rgba(0, 0, 0, 0.6);
}

#special {
  color: red;
  display: inline-block;
}
