h1 {
  font-family: monospace;
}

body {
  background-color: grey;
  text-align: center;
}

nav p {
  display: inline-block;
  /*border: black;*/
  padding: 5px;
}

nav p a {
  color: navy;
}

nav {
  background-color: green;
  width: 100%;
  padding: 20px
  border: 5px solid black;
}

h5 {
  color: grey;
}
